<!-- These are the codeblocks that will be inserted into the main DIV when the corresponding button is presses -->


<link rel="stylesheet" type="text/css" href="../static/index.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">

<!-- PRINT a -->
<div class="text-info bg-light"><form class="form-inline"><div class="form-group"> <label for="a"><b>     OUTPUT   </b></label> <input class="form-control  input-sm inlineInputs" id="a"></div></div></form></div>

<!-- IF a = b: -->
<div class="text-info bg-light"><form class="form-inline"><div class="form-group"> <label for="a"><b>     IF   </b></label> <input class="form-control  input-sm inlineInputs" id="a"></div><div class="form-group"> <label for="b"><b>IS EQUAL TO</b></label> <input class="form-control  input-sm inlineInputs" id="b"></div><div class="form-group"><label><b>THEN</b></label></div></form></div>

<!-- IF a != b: -->
<div class="text-info bg-light"><form class="form-inline"><div class="form-group"> <label for="a"><b>     IF   </b></label> <input class="form-control  input-sm inlineInputs" id="a"></div><div class="form-group"> <label for="b"><b>IS NOT EQUAL TO</b></label> <input class="form-control  input-sm inlineInputs" id="b"></div><div class="form-group"><label><b>THEN</b></label></div></form></div>