<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="logo.ico">

    <title>DME PI</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bs2.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bs1.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/custom.css">
</head>

<body>

<div class="container-fluid text-center h-100">
  <div class="row content">
    <div class="col-sm-2 sidenav border-right text-info">
        <h4>Check out our other websites:</h4>
      <p><a href="#">Tutorials</a></p>
      <p><a href="#">idrk</a></p>
      <p><a href="#">lol</a></p>
    </div>
    <div class="col-sm-8">
      <h1 class="text-center">DME PI</h1>
      <p class="text-left">Welcome to the DME Python Interface. This is a web based graphical user interface in which you can program anything you want. It uses blocks, which can be added from the bottom of your
          screen, and once the GENERATE button is pressed, you will be presented with a python(.py) file. This can be run from the python console and edited from python IDLE which can be downloaded <b><a href="https://www.python.org/getit/">here.</a></b></p>
      <br>
      <div class="container bg-white h-100">
          <!-- INSERT CODEBLOCKS HERE -->
      </div>
    </div>
  </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js1.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js2.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../static/js3.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<footer class="container-fluid fixed-bottom">
    <button class="btn btn-5 btn-5a icon-cart border col-lg-2"><span>Add Component</span></button>
</footer>
</body>
</html>
